<div class="footer section">
    <div class="btm ">
        <div class="foot-top">
            <div id="fleft">
                <h1>Relax.We've got you.</h1>
                <button>Take a tour</button>
            </div>
            <div id="fryt">
                <h5 class="">Home</h5>
                <h5 class="">About</h5>
                <h5 class="">Contact</h5>
            </div>
        </div>

        <div id="foot-end">
            <h1>
                <span>N</span><span>a</span><span>g</span><span>a</span><span>r</span><span>a</span><span>v</span><span>r</span><span>t</span><span>t</span><span>a</span>
            </h1>
        </div>
    </div>
</div>