<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modern Landing Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="/stylesheets/state.css" />
</head>

<body theme="black" class="overflow-x-hidden">
    <div id="main">
        <%- include('includes/nav.ejs') %>
            <div data-color="transparent" id="main1" class="section">
                <div id="back">
                    <img src="https://images.unsplash.com/photo-1660145416818-b9a2b1a1f193?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="" />
                    <img src="https://images.unsplash.com/photo-1567591428427-6e4c80364d59?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="" />
                    <img src="https://images.unsplash.com/photo-1662730738534-1ca761dfafcf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="" />
                    <!-- <img src="https://media.istockphoto.com/id/2001945747/photo/mumbai.jpg?s=612x612&w=0&k=20&c=4qOUXWYul-i_Eoq8XZuFSKMGmzFjaeczTT_Y4mFoh6o=" alt="" />
            <img src="https://media.istockphoto.com/id/1176333049/photo/interior-of-warli-painting-on-mud-wall-on-tribal-hut-warli-tribe-dahanu-maharashtra.webp?a=1&b=1&s=612x612&w=0&k=20&c=9GIccRl--T0GiUP79oTYRCObk7IUK2j3NQwNR1tj3Xs=" alt="" /> -->
                </div>
                <div id="top">
                    <div id="working-area">
                        <div id="hero">
                            <div id="heroleft">
                                <div class="elem">
                                    <h1>Welcome TO</h1>
                                    <h1>Discover the</h1>
                                    <h1>The Vibrant</h1>
                                    <!-- <h1>Great</h1>
                            <h1>Charm of</h1> -->
                                </div>
                                <div class="elem">
                                    <h1>TO</h1>
                                    <h1>Beauty</h1>
                                    <h1>Ganesh</h1>
                                    <!-- <h1>Shivaji</h1>
                            <h1>Warli</h1> -->
                                </div>
                                <div class="elem">
                                    <h1>Maharashtra.</h1>
                                    <h1>And Spirit.</h1>
                                    <h1>Chaturthi.</h1>
                                    <!-- <h1>Maharaj.</h1>
                            <h1>Folk art.</h1> -->
                                </div>
                                <!-- <button id="herobutton">EXPLORE NOW</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section data-color="Skin" class="welcome-section section">
                <div class="welcome-content">
                    <h1 class="large-text">WELCOME</h1>
                    <div class="intro-text">
                        <p class="welcome-subtitle"></p>

                        <p>
                            Maharashtra, a state spanning west-central India, is known for its
                            fast-paced capital, Mumbai (formerly Bombay). The state is known
                            for its historical monuments, vibrant culture, and incredible
                            landscapes from the Western Ghats to the Arabian Sea coast. <br />
                            Discover the unique charm of Maharashtra, where tradition meets
                            modernity, and every city offers a new story, every landscape
                            tells a tale, and every monument stands as a testament to India's
                            rich heritage.
                        </p>
                    </div>
                </div>
                <!-- Compass Image Element -->
                <img src="/images/download-removebg-preview.png" alt="Compass Image" class="compass-image" />
            </section>
            <section data-color="Saffron" class="fullview section" id="origin">
                <div class="content">
                    <h2>NAME & ORIGIN (Etymology)</h2>
                    <p class="reveal-text">
                        The Marathi language and the terms "Maharashtra," "Marathi," and
                        "Maratha" trace back to Maharashtri Prakrit. While the exact origin
                        remains uncertain, theories suggest that "Maratha" and "Maharashtra"
                        may have evolved from "Mahā" and "Rāṣṭrikā," possibly referring to a
                        tribe or ruling dynasty in the Deccan region. Another theory
                        connects it to "mahā" (great) and "ratha" (chariot), suggesting a
                        northern warrior group that migrated south. Ancient texts like the
                        Harivamsa hint at connections between the Rastrikas, ancestors of
                        the Marathas, and regions like Anaratta and the Saurastras. Some
                        believe "Maharashtra" comes from "mahā" (great) and "rāṣṭra"
                        (nation), although this interpretation is debated by modern
                        scholars.
                    </p>
                </div>
                <div class="image-container">
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/premium-photo/ancient-building-inside-creative-architecture-wooden-atmosphere_1230902-9791.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/premium-vector/indian-maharastrian-couple-man-woman-standing-traditinal-dress_1076263-1167.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/free-vector/indian-hindi-diwas-background-with-map-india-vector_1017-45548.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                </div>
            </section>

            <section data-color="Blue" class="fullview section" id="wars">
                <div class="content">
                    <h2>WARS & PROGRESS</h2>
                    <p class="reveal-text">
                        Maharashtra has a rich history of conflicts and progress.
                        Significant events include the rise of the Maratha Empire under
                        Chhatrapati Shivaji Maharaj, who established a stronghold against
                        the Mughal Empire. The Marathas' strategic warfare and
                        administrative prowess led to their prominence in the 17th century.
                        Following periods of decline, the 19th and 20th centuries saw
                        socio-economic progress, including the establishment of industries
                        and educational institutions, paving the way for modern
                        Maharashtra's development.
                    </p>
                </div>
                <div class="image-container">
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/free-vector/shivaji-jayanti-illustration_23-2148845112.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/premium-vector/india-gate-vector-illustration_969863-158929.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/free-photo/high-angle-shot-bandra-worli-sealink-mumbai-enveloped-with-fog_181624-7892.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                </div>
            </section>

            <section data-color="Red" class="fullview section" id="artistic">
                <div class="content">
                    <h2>ARTISTIC BACKDROP</h2>
                    <p class="reveal-text">
                        <strong>Languages</strong><br />
                        Marathi, the state's primary language, has roots in ancient Prakrit,
                        influenced by Sanskrit, Persian, and Arabic. This evolution reflects
                        Maharashtra's transformation from ancient kingdoms to a modern
                        state.
                    </p>
                    <p>
                        <strong>Art & Craft</strong><br />
                        Maharashtra’s art includes Paithani sarees, woven with techniques
                        preserved through centuries, and Warli paintings, which offer
                        insight into the lives and traditions of early inhabitants.
                    </p>
                </div>
                <div class="image-container">
                    <div class="img-layer" style="
              background-image: url('https://www.memeraki.com/cdn/shop/articles/warli-paintings-different-types-styles-829356_1024x.jpg?v=1661329943');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://t3.ftcdn.net/jpg/06/44/26/04/360_F_644260417_yZaWZ7rEYBkrDBJJBCSLidIjIWLqRG1K.jpg');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://www.shutterstock.com/image-photo/bidar-karnataka-india-december-8-600nw-1846909696.jpg');
            "></div>
                </div>
            </section>

            <section data-color="Green" class="fullview section" id="flora">
                <div class="content">
                    <h2>FLORA AND FAUNA</h2>
                    <p class="reveal-text">
                        Maharashtra's diverse biogeographic zones include the Western Ghats,
                        Deccan Plateau, and West Coast, with forests covering about 20% of
                        its land. The state ranks second in India for forest area and houses
                        significant wildlife, including tigers and leopards, with six tiger
                        reserves. The coastline supports rich marine biodiversity, including
                        over 1,500 species of fish, crustaceans, and molluscs.
                    </p>
                </div>
                <div class="image-container">
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/free-photo/amazing-bengal-tiger-nature_475641-1205.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://www.tyremarket.com/roadtales/wp-content/uploads/2020/02/1-3.jpg');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/premium-photo/red-squirrel-autumn-forest_118342-2492.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                </div>
            </section>

            <section data-color="Orange" class="fullview section" id="region">
                <div class="content">
                    <h2>REGION & RELIGION</h2>
                    <p class="reveal-text">
                        Maharashtra is a culturally and religiously diverse state with
                        significant regions including the Konkan Coast, Deccan Plateau, and
                        the Western Ghats. Major religions practiced include Hinduism,
                        Islam, Christianity, and Buddhism. Each region reflects a unique
                        blend of traditions, festivals, and local practices, contributing to
                        the state's rich cultural mosaic.
                    </p>
                </div>
                <div class="image-container">
                    <div class="img-layer" style="
              background-image: url('https://media.istockphoto.com/id/1150864298/photo/waterfall-and-lush-green-mountains-near-satara-maharashtra-india.jpg?s=612x612&w=0&k=20&c=PevXyd_eDFpQNoeNsx_3src4HIdiBaB1s9r5zrj6cbo=');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://images.unsplash.com/photo-1598334004472-44f4c1c3c272?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1haGFyYXNodHJhJTIwY3VsdHVyZXxlbnwwfHwwfHx8MA%3D%3D');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://media.istockphoto.com/id/863655882/photo/sadhu-indian-holymen-sitting-in-the-temple.jpg?s=2048x2048&w=is&k=20&c=Jpyd4l_Xbl3yaTqYSKJ3UWRMx2wapXARTym9RM-8BKo=');
            "></div>
                </div>
            </section>

            <div data-color="Green" class="fullview1 craft section">
                <div class="ltext">
                    <div id="img">
                       <div class="img-lyr"> <img src="https://img.freepik.com/free-vector/flat-magh-bihu-illustration_23-2149935766.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid" alt="" /></div>
                       <div class="img-lyr"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjHwMszHeFcVpl4rQYV_cm6zQEKhrJvgNZHg&s" alt="" /></div>
                       <div class="img-lyr"> <img src="https://img.freepik.com/free-vector/shivaji-maharaj-illustration-with-figure_23-2148470405.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid" alt="" /></div>
                    </div>
                </div>
                <div class="cards text-black mt-[40rem] text-3xl w-1/2">
                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Story of Bhakta Tukaram
                            </h1>
                            <p class="text-sm font-semibold">
                                Tukaram, a revered saint in Maharashtra, is known for his
                                unwavering devotion to Lord Vithoba. His life and compositions,
                                Abhangas, are celebrated for their deep spiritual insights and
                                expressions of devotion.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Legend of Saint Dnyaneshwar
                            </h1>
                            <p class="text-sm font-semibold">
                                Saint Dnyaneshwar, a prominent figure in Marathi spiritual
                                history, is celebrated for his commentary on the Bhagavad Gita.
                                His teachings emphasized devotion and the pursuit of knowledge.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Tale of Saint Janardan
                            </h1>
                            <p class="text-sm font-semibold">
                                Saint Janardan's life is marked by his dedication to spreading
                                the message of devotion and righteousness. His stories often
                                highlight his miraculous deeds and divine grace.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Legend of Pandavleni Caves
                            </h1>
                            <p class="text-sm font-semibold">
                                These ancient caves are believed to be linked to the Pandavas
                                from the Mahabharata. The caves are a testament to the rich
                                historical and cultural significance of the region.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Story of the Giant Snake of Malshej Ghat
                            </h1>
                            <p class="text-sm font-semibold">
                                A popular local legend speaks of a giant snake that once roamed
                                Malshej Ghat, adding a touch of mystique to the picturesque
                                landscape.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Tale of the Naga King
                            </h1>
                            <p class="text-sm font-semibold">
                                This tale involves a serpent king with divine powers, often
                                associated with the mystical and spiritual traditions of
                                Maharashtra.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Tale of the Brave Woman
                            </h1>
                            <p class="text-sm font-semibold">
                                This story showcases the courage and resilience of a woman who
                                stood up against social injustice, highlighting the role of
                                women in the fight for equality.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Legend of the Wise King
                            </h1>
                            <p class="text-sm font-semibold">
                                A tale of a king known for his wisdom and fairness, this legend
                                emphasizes the importance of just governance and leadership.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Tale of the Clever Tailor
                            </h1>
                            <p class="text-sm font-semibold">
                                A clever tailor outsmarts his adversaries, illustrating themes
                                of ingenuity and justice in overcoming challenges.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                Kakasaheb Ganpatrao
                            </h1>
                            <p class="text-sm font-semibold">
                                Known for his humor and wit, Kakasaheb Ganpatrao's stories often
                                involve clever solutions to everyday problems, reflecting the
                                cultural value of intelligence and humor.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Tale of the Clever Peasant
                            </h1>
                            <p class="text-sm font-semibold">
                                This story features a peasant who uses his wit to navigate
                                tricky situations, showcasing the value of cleverness and
                                resourcefulness.
                            </p>
                        </div>
                    </div>

                    <div class="box translate-x-[2rem] mb-5 h-[14rem] w-[30rem] border-[.1rem] border-[#576F70] p-5">
                        <div class="h-full w-full">
                            <h1 class="font-semibold leading-normal tracking-tight mb-5">
                                The Tale of the Wise Brahmin
                            </h1>
                            <p class="text-sm font-semibold">
                                A Brahmin known for his wisdom and insight faces various
                                challenges, offering lessons in intellect and moral integrity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <section data-color="dGreen" class="fullview section" id="music-dance">
                <div class="content">
                    <h2>FOLK MUSIC & DANCE</h2>
                    <p class="reveal-text">
                        Music
                        <br />
                        Maharashtra’s music scene includes Hindustani classical traditions,
                        with the Sawai Gandharva Bhimsen Festival being a notable event.
                        Mumbai is a hub for Bollywood music and modern genres, while the
                        NCPA in Mumbai hosts India’s only professional symphony orchestra.
                        <br />
                        Dance
                        <br />
                        Lavani, a dynamic and expressive dance, and the Koli dance,
                        reflecting the fisher folk's lifestyle, are key forms of
                        Maharashtra’s dance traditions.
                    </p>
                </div>
                <div class="image-container">
                    <div class="img-layer" style="
              background-image: url('https://media.istockphoto.com/id/1135984449/photo/young-lady-performing-traditional-indian-folk-dance.webp?a=1&b=1&s=612x612&w=0&k=20&c=IRyKNUaomk9R-KzZ6-5DXjQOPKwq6-DVlH0zsoUbBYY=');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/premium-vector/happy-maharashtra-day-celebrations-mavala-with-tutari_560226-848.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/free-vector/hand-drawn-bharatanatyam-dance-illustration_23-2149587162.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                </div>
            </section>

            <section data-color="Brown2" class="fullview section" id="festivals">
                <div class="content">
                    <h2>FESTIVALS</h2>
                    <p class="reveal-text">
                        <strong>Ganesh Chaturthi</strong><br />
                        Grand festivities in Mumbai, including street parties and sea
                        immersions.
                    </p>
                    <p class="reveal-text">
                        <strong>Gudi Padwa</strong><br />
                        Celebrates the Marathi New Year with traditional customs.
                    </p>
                    <p class="reveal-text">
                        <strong>Bhau Beej</strong><br />
                        Marks the bond between brothers and sisters.
                    </p>
                    <p class="reveal-text">
                        <strong>Makar Sankranti</strong><br />
                        Includes kite flying and traditional sweets.
                    </p>
                    <p class="reveal-text">
                        <strong>Dahi Handi</strong><br />
                        Features human pyramids in Mumbai.
                    </p>
                    <p class="reveal-text">
                        <strong>Nag Panchami</strong><br />
                        Rituals and worship of snakes, celebrating their significance in
                        local traditions.
                    </p>
                </div>
                <div class="image-container">
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/premium-photo/close-up-ganesha-statue-table_1048944-27493996.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/free-photo/navratri-highly-detailed-candle-decoration_23-2151193692.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/free-photo/realistic-people-celebrating-gudi-padwa_23-2151248411.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                </div>
            </section>

            <section data-color="Golden" class="fullview section" id="heritage">
                <div class="content">
                    <h2>HERITAGE & CULTURE</h2>
                    <p class="reveal-text">
                        Maharashtra's heritage encompasses historic forts, ancient temples,
                        and colonial architecture. The state's culture is a blend of its
                        Maratha roots and influences from various regions. Notable heritage
                        sites include the forts of Raigad, Sinhagad, and Elephanta Caves,
                        showcasing the architectural and historical richness of Maharashtra.
                    </p>
                </div>
                <div class="image-container">
                    <div class="img-layer" style="
              background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5ivJnOvWcPHkvXy9O06GnQykTq7ZlnPddnWBPvO4llsNuLPyOWDwxcZJivAS7beo-guY&usqp=CAU');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://media.istockphoto.com/id/1165694627/photo/entrance-gate-at-raigad-fort-and-thorne-of-king-shivaji-is-seen-in-background-maharashtra.webp?a=1&b=1&s=612x612&w=0&k=20&c=NhsXP6jGeRWnDNaW42SAhohRC_G5Wz1kKLwL-0EKhIg=');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://media.istockphoto.com/id/1172983410/photo/historical-elephanta-cave-and-old-sculpture-of-lord-shiva-and-gautama-buddha-on-rock.webp?a=1&b=1&s=612x612&w=0&k=20&c=8CJ1AS_98LaBvCZe2BZzjNmvQGhibdLXVGMulXMCtU0=');
            "></div>
                </div>
            </section>

            <section data-color="Maroon" class="fullview section" id="lifestyle">
                <div class="content">
                    <h2>LIFESTYLE OF MAHARASHTRA</h2>
                    <p class="reveal-text">
                        The lifestyle in Maharashtra is a reflection of its diverse cultural
                        and historical influences. Urban areas like Mumbai and Pune are
                        bustling with modern life, while rural areas maintain traditional
                        practices. Key aspects include regional cuisines, traditional attire
                        such as the Paithani saree and dhoti, and vibrant local markets that
                        showcase handicrafts and local produce.
                    </p>
                </div>
                <div class="image-container">
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/free-photo/architecture-ancient-monument-world-heritage-day-celebration_23-2151297222.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/premium-photo/busy-street-with-yellow-bus-sign-that-says-taxi_1109006-133463.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                    <div class="img-layer" style="
              background-image: url('https://img.freepik.com/free-photo/man-walking-along-long-road-back-his-home-with-rice-fields-both-sides_1353-199.jpg?ga=GA1.1.558322251.1724178826&semt=ais_hybrid');
            "></div>
                </div>
            </section>

            <div data-color="white" class="team section py-20">
                <h1 class="text-center text-8xl tracking-tight">Cities</h1>
                <div class="list mt-10 w-full px-10">
                    <div class="listelem border-b-2 border-black w-full py-[3rem] relative">
                        <div class="relative flex items-center justify-between z-[3]">
                            <div class="left gap-20 flex">
                                <h3 class="text-5xl">01</h3>
                                <h1 class="text-5xl">Mumbai</h1>
                            </div>
                            <h3 class="text-xl">Commercial capital of India</h3>
                        </div>
                        <div
                            class="picture opacity-0 bg-purple-500 w-[15rem] h-[15rem] rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[4]">
                            <img class="w-full h-full object-cover rounded-full"
                                src="https://media.istockphoto.com/id/181072576/photo/chhatrapati-shivaji-terminus.jpg?s=612x612&w=0&k=20&c=xas3HxfyVHJwGiAcFPq9y3gL6MfcyjsoxK_7czZ_d2E="
                                alt="" />
                        </div>
                        <div class="bluelayer"></div>
                    </div>
                    <div class="listelem border-b-2 border-black w-full py-[3rem] relative">
                        <div class="relative flex items-center justify-between z-[3]">
                            <div class="left gap-20 flex">
                                <h3 class="text-5xl">02</h3>
                                <h1 class="text-5xl">Pune</h1>
                            </div>
                            <h3 class="text-xl">Queen of the Deccan</h3>
                        </div>
                        <div
                            class="picture opacity-0 bg-purple-500 w-[15rem] h-[15rem] rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[4]">
                            <img class="w-full h-full object-cover rounded-full"
                                src="https://media.licdn.com/dms/image/D4D12AQF9TIOxMgK6aA/article-cover_image-shrink_720_1280/0/1697400949285?e=2147483647&v=beta&t=4JMaimpQpZjYkPth-Dr3cGO4ItN0Oho5M0aa5Jy8nOQ"
                                alt="" />
                        </div>
                        <div class="bluelayer"></div>
                    </div>
                    <div class="listelem border-b-2 border-black w-full py-[3rem] relative">
                        <div class="relative flex items-center justify-between z-[3]">
                            <div class="left gap-20 flex">
                                <h3 class="text-5xl">03</h3>
                                <h1 class="text-5xl">Thane</h1>
                            </div>
                            <h3 class="text-xl">City of Lakes</h3>
                        </div>
                        <div
                            class="picture opacity-0 bg-purple-500 w-[15rem] h-[15rem] rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[4]">
                            <img class="w-full h-full object-cover rounded-full"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCtLh5k2qZ-4NuwwL8WKafrGXTdxPSWV5lhQ&s"
                                alt="" />
                        </div>
                        <div class="bluelayer"></div>
                    </div>
                    <div class="listelem border-b-2 border-black w-full py-[3rem] relative">
                        <div class="relative flex items-center justify-between z-[3]">
                            <div class="left gap-20 flex">
                                <h3 class="text-5xl">04</h3>
                                <h1 class="text-5xl">Nagpur</h1>
                            </div>
                            <h3 class="text-xl">Orange City'</h3>
                        </div>
                        <div
                            class="picture opacity-0 bg-purple-500 w-[15rem] h-[15rem] rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[4]">
                            <img class="w-full h-full object-cover rounded-full"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4zPy79NLRUhGQesvIy_Tcvvb4JLJa2gqbQw&s"
                                alt="" />
                        </div>
                        <div class="bluelayer"></div>
                    </div>
                    <div class="listelem border-b-2 border-black w-full py-[3rem] relative">
                        <div class="relative flex items-center justify-between z-[3]">
                            <div class="left gap-20 flex">
                                <h3 class="text-5xl">05</h3>
                                <h1 class="text-5xl">Nashik</h1>
                            </div>
                            <h3 class="text-xl">The Wine Capital of India</h3>
                        </div>
                        <div
                            class="picture opacity-0 w-[15rem] h-[15rem] rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[4] bg-purple-500">
                            <img class="w-full h-full object-cover rounded-full"
                                src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Nashik_Clouds.jpg" alt="" />
                        </div>
                        <div class="bluelayer"></div>
                    </div>
                    <div class="listelem border-b-2 border-black w-full py-[3rem] relative">
                        <div class="relative flex items-center justify-between z-[3]">
                            <div class="left gap-20 flex">
                                <h3 class="text-5xl">06</h3>
                                <h1 class="text-5xl">Aurangabad</h1>
                            </div>
                            <h3 class="text-xl">City of Gates</h3>
                        </div>
                        <div
                            class="picture opacity-0 bg-purple-500 w-[15rem] h-[15rem] rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[4]">
                            <img class="w-full h-full object-cover rounded-full"
                                src="https://t4.ftcdn.net/jpg/01/96/50/87/360_F_196508763_c2Sb6vIcsgmaXCOLMvuprBvaDxvTDkyf.jpg"
                                alt="" />
                        </div>
                        <div class="bluelayer"></div>
                    </div>
                    <div class="listelem border-b-2 border-black w-full py-[3rem] relative">
                        <div class="relative flex items-center justify-between z-[3]">
                            <div class="left gap-20 flex">
                                <h3 class="text-5xl">07</h3>
                                <h1 class="text-5xl">Amaravati</h1>
                            </div>
                            <h3 class="text-xl">the place for immortals</h3>
                        </div>
                        <div
                            class="picture opacity-0 bg-purple-500 w-[15rem] h-[15rem] rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[4]">
                            <img class="w-full h-full object-cover rounded-full"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUUuGBCZUMJcs2J2Us6hZTtwKFh7ZQXQTSNtSlEYubiS7fhdT3uUYuCMAfQcHSnzj-jUY&usqp=CAU"
                                alt="" />
                        </div>
                        <div class="bluelayer"></div>
                    </div>
                    <div class="listelem border-b-2 border-black w-full py-[3rem] relative">
                        <div class="relative flex items-center justify-between z-[3]">
                            <div class="left gap-20 flex">
                                <h3 class="text-5xl">08</h3>
                                <h1 class="text-5xl">Kolhapur</h1>
                            </div>
                            <h3 class="text-xl">Dakshin Kashi</h3>
                        </div>
                        <div
                            class="picture opacity-0 bg-purple-500 w-[15rem] h-[15rem] rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[4]">
                            <img class="w-full h-full object-cover rounded-full"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL-XHg_AXLdXBdQ4DpK4J_C1BGrySfeUdQLQ&s"
                                alt="" />
                        </div>
                        <div class="bluelayer"></div>
                    </div>
                </div>
            </div>

            <div data-color="white" class="para mt-20 section w-full h-[70vh] flex items-center justify-center">
                <div class="text w-[70%] flex flex-col items-center justify-center">
                    <h3 class="textpara text-2xl font-medium text-center leading-[2.8rem]">
                        We created Nagaravrtta with the vision of digitally preserving and
                        celebrating India's rich cultural heritage goal is to offer a
                        platform that goes beyond the typical tourist spots, diving deep
                        lesser-known aspects of Indian culture that are cherished by locals.
                    </h3>
                    <div class="pers flex flex-col items-center justify-center mt-10 gap-5">
                        <div class="image w-32 h-32 bg-red-500 overflow-hidden rounded-full"></div>
                        <h1 class="text-3xl">Nagaravrtta</h1>
                        <h3>We believe in You and your enthusiasm</h3>
                    </div>
                </div>
            </div>

            <div data-color="white" class="future section w-full h-[60vh] bg-[#F5F19C]">
                <div class="flex w-full h-full">
                    <div class="fulft w-[60%] h-full flex flex-col justify-center p-10">
                        <h1 class="text-6xl">Let's build a better future.</h1>
                        <div class="w-fit mt-10 px-10 py-5 border-[1px] border-[--dcyan] bg-black text-white">
                            <div class="masker overflow-hidden">
                                <h1 class="inline-block">LETS GO</h1>
                            </div>
                        </div>
                    </div>
                    <div class="furyt w-[40%] text-3xl h-full flex flex-col justify-center p-10">
                        <h1>
                            Discover how Sanskriti's cultural expertise can elevate your
                            journey through India's rich heritage.
                        </h1>
                    </div>
                </div>
            </div>

            <%- include('includes/footer.ejs') %>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@beta/bundled/locomotive-scroll.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
<script src="/javascripts/state.js"></script>

</html>